POSTGRES_HOST = "please set me up!"
POSTGRES_PORT = "please set me up!"
POSTGRES_DATABASE = "please set me up!"
POSTGRES_USERNAME = "please set me up!"
POSTGRES_PASSWORD = "please set me up!" 

AWS_ACCESS_KEY_ID = "Project Reference ID" # please set me up!
AWS_SECRET_ACCESS_KEY = "Project service_role" # please set me up!
AWS_REGION = "please set me up"
BUCKET_URL = "s3://[your_bucket_name]"
ENDPOINT_URL = "{Project Reference ID}.supabase.red/storage/v1/s3"